code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  height: 100vh;
  background-color: #F5F5F5;
}

.header-links{
  display: flex;
  justify-content: center;
  width: 100vw
}

.header-links a{
  width: 150px !important;
  text-align: center;
  text-decoration: none !important;
  color: #7D7D7D;
  font-size: 24px;
  padding-top: 34px;
  padding-bottom: 34px;
  margin: 0 !important
}

.header-links a.active{
  color: var(--primary-color) !important;
  background-color: #F5F5F5;
}

.header-links a:hover{
  color: var(--primary-color) !important;
}

.full-screen-loader, .page-loader{
  z-index: 99999;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.432);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.main-container .content{
  height: calc(100vh - 104px);
  overflow: auto;
  position: relative;
}

.main-container .no-header{
  height: 100vh !important;
}

.main-container .content .footer{
  margin: 40px;
  text-align: right;
}

.header .home-links{
  position: absolute;
  top: 0;
  left: 0;
  display: flex
}

.header .home-link .home-link-logo{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.header .home-links .home-link{
  padding: 18px;
  display: inline-block;
  color: #BCBCBC;
  font-size: 50px;
  text-decoration: none !important;
  margin-right: 12px;
}

.header .home-links .home-link.active {
  color: var(--primary-color);
  background-color: #F5F5F5
}

.header .home-links .home-link div{
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .school-year-container{
  padding: 18px 0
}

.header .school-year-container span{
  color: var(--bolder);
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
}

.header .school-year-container .school-year-dropdown{
  color: var(--primary-color);
  font-size: 20px;
  padding: 4px 0;
}

.header .school-year-dropdown:hover{
  color: var(--primary-color) !important
}

.header .floating-options{
  position: absolute;
  top: 18px;
  right: 18px;
}

.header .floating-options .floating-option{
  display: inline-block;
  text-decoration: none !important;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #F9F9F9;
  color: #BCBCBC;
  font-size: 30px;
  margin-right: 12px;
}

.header .floating-options .floating-option.active{
  background-color: var(--primary-color);
  color: #FFF;
}

.header .floating-options .floating-option div{
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-dropdown-container{
  width: 350px !important;
  z-index: 1000px;
  position: fixed;
  top: 105px;
  right: 32px;
  border: none !important;
  border-radius: 10px !important;
}

.profile-dropdown-container .user-header{
  padding: 20px;
  display: flex;
}

.profile-dropdown-container .user-header .user-image-container{
  background-color: #F9F9F9;
  color: #BCBCBC;
  font-size: 27px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  margin-right: 20px;
}

.profile-dropdown-container .user-header .user-name-container .user-name{
  margin: 0;
  color: #707070;
  font: normal normal normal 24px/32px Segoe UI;
}

.profile-dropdown-container .user-header .user-name-container a{
  font: normal normal normal 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: var(--primary-color);
  text-decoration: none !important;
}

.profile-dropdown-container .profile-dropdown-links{
}

.profile-dropdown-container .profile-dropdown-links .profile-dropdown-link{
  display: block;
  padding: 10px 32px;
  display: flex;
  text-decoration: none !important;
  align-items: center;
  color: #707070;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
}

.profile-dropdown-container .profile-dropdown-links .profile-dropdown-link-icon{
  background-color: var(--primary-color);
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}


.profile-dropdown-container .profile-dropdown-links .feedback-link{
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9
}

.profile-dropdown-container .profile-dropdown-links .feedback-link .feedback-texts .title{
  margin: 0;
  font: normal normal bold 12px/16px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
}

.profile-dropdown-container .profile-dropdown-links .feedback-link .feedback-texts .sub-title{
  margin: 0;
  font: normal normal normal 12px/16px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
}

.active-file-tab{
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
}

.inactive-file-tab{
  color: black;
}

.border-radius-15{
  border-radius: 15px !important;
}

.not-scrollable{
  overflow: hidden !important;
}

.scrollable{
  overflow: auto;
}

.vh-80{
  height: 80vh;
}

.vh-85{
  height: 85vh;
}

.vh-90{
  height: 90vh;
}

.capitalize {
  text-transform: capitalize;
}

.bread-crumbs-position{
  position: absolute;
  top: 35px;
  left: 20px;
}

.font-20{
  font-size: 20px;
}

.active-nav-item{
  background-color: var(--primary-color);
  border: 0 !important;
  color: white !important;
  border-radius: 10px !important;
  text-decoration: none !important;
  padding: 10px;
}

.nav-item{
  color: gray !important;
  border-radius: 10px !important;
  text-decoration: none !important;
  padding: 10px;
}

.font-size-30{
  font-size: 30px;
}

.bg-gray{
  background-color: #BCBCBC;
}

.height-80px{
  height: 80px;
}

.br-5px{
  border-radius: 5px;
}

@media only screen and (max-width: 1280px) {
  .header .floating-options{
    transform: scale(0.7);
    right: -18px;
  }
}

.taking-exam{
  padding-top: 150px !important;
  
}
.taking-exam-container{
  max-width: 600px;
  margin: 0 auto;
}

.taking-exam-warning-icon{
  color: var(--primary-color);
  font-size: 48px;
  text-align: center;
}

.taking-exam-container h4{
  letter-spacing: 0px;
  color: #707070;
  text-align: center;
}

.fr-box.fr-basic.fr-top{
  border: none !important;
  box-shadow: none !important;
}

.mq-editable-field.mq-math-mode{
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #E9E9E9 !important;
  border-radius: 0.25rem;
  background-color: white;
}


.content-viewer .mq-editable-field{
  border: none !important;
  box-shadow: none !important;
  pointer-events: none;
  cursor: default;
}

.mq-scaled.mq-paren{
  transform: scale(1) !important;
}

.font-10{
  font-size: 10px;
}

.font-16{
  font-size: 16px !important;
}

.font-size-35{
  font-size: 35px !important;
}

.pl-20{
  padding-left: 20px !important;
}

.colored-files-bread{
  cursor: pointer;
  color: var(--primary-color);
  font-size: 20px;
  padding-left: 15px;
}

.fix-color-bread{
  cursor: pointer;
  color: #7D7D7D;
  font-size: 20px;
  padding-left: 15px;
}

.colored-class{
  color: var(--primary-color);
  cursor: pointer;
  font-size: 25px;
}

.font-size-22{
  font-size: 22px !important;
}