body {
  margin: 0;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  height: 100vh;
  background-color: #F5F5F5;
}

.header-links{
  display: flex;
  justify-content: center;
  width: 100vw
}

.header-links a{
  width: 150px !important;
  text-align: center;
  text-decoration: none !important;
  color: #7D7D7D;
  font-size: 24px;
  padding-top: 34px;
  padding-bottom: 34px;
  margin: 0 !important
}

.header-links a.active{
  color: #EE9337;
  background-color: #F5F5F5;
}

.header-links a:hover{
  color: #EE9337 !important;
}

.class-side-bar a{
  text-align: center;
  text-decoration: none !important;
  color: #707070;
  font-size: 20px;
  font-style: normal normal normal 20px/27px Segoe UI;
  margin: 0 !important;
  height: 100%;
  left: 30px;
  width: 100px;

}

.class-side-bar a.active{
  color: #EE9337;
  background-color: #F5F5F5 !important;
  
}

.class-side-bar a:hover{

  padding: 5px;
  background: #EE9337;
  border-radius: 10px;
  opacity: 1;

}

.font-class {
  font: normal normal normal 36px/48px Segoe UI !important;
}

.class-side-nav {
  border:'none';
  color:#EE9337
}

.font-side {
color: var(--unnamed-color-ee9337);
text-align: left;
font: normal normal normal 16px/21px Segoe UI !important;
letter-spacing: 0px;
color: #EE9337;
opacity: 1;
}


/* Haru */
.containerpages {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 31px;
}

.m-b-20 {
 margin-bottom: 20px;
}

.m-b-10 {
margin-bottom: 10px;
}

.pages-header {
color:#707070;
}

.modal-header {
font-size: 24px;
font-family: "Segou UI" Regular;
color:#7D7D7D;
box-shadow: 0px 3px 6px #00000029;
}

.modal-label {
font-size: 20px;
color:#7D7D7D;
}

.modal-all {
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px 10px 0px 0px;
opacity: 1;
border:0px !important;
}

.modal-content {
border:0px transparent !important;
box-shadow: 0px 3px 6px #00000029;
}

.b-0px {
border:0px !important;
}

.tficolorbg-button {
background-color: #EE9337 !important;
border:1px solid #EE9337 !important;
}

/* .card-header {
background-color:#EE9337 !important;
height: 200px;
border-radius: 10px 10px 0px 0px !important;
} */

.search-button {
background-color: transparent !important;
border-left:0px !important;
color:#BCBCBC !important;

}

.search-classes {
  font: 'normal normal normal 20px/27px Segoe UI' !important;
}
.search-discussion {
  font: 'normal normal normal 20px/27px Segoe UI' !important;
}
.discussion-unit{
  background-color:#ffffff !important;
  height: 50px;
  border-radius: 10px 10px 0px 0px !important;
  color: var(--bolder);
  text-align: left;
  font: normal normal normal 24px/32px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.col-md-4 { 
  background-color: '#FFFFFF';
  margin-left:'30px'!important ;
  margin-top: '70px' ;
  padding: '20px' ;
  width:'300px' ;
  height: '567px' ;
}

.class-padding {
  background-color: #FFFFFF !important;
  margin-top: 70px !important;
  padding:20px;
  width:976px;
  height: 560px;
}

.class-row {
  background-color: #FFFFFF;
  margin-right:30px !important;
  margin-top: 70px !important;
  padding: 20px !important;
  width:  300px !important;
  height: 567px;
}

.class-archive {
  color: #EE9337;
  margin-bottom: 50px;
  width:  50px !important;
  height: 20px;
  float: right;
}

.bread-margin {
margin-left: 400px;
}

.bread-m-t-b {
margin-top: 31px !important;
margin-bottom: 31px;
font-size: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {

content: var(--bs-breadcrumb-divider, ">") !important;
}

.list-group-item-o.active {
background-color:#EE9337 !important;
border: 0 !important;
color: white !important;;
}

.list-group-item-o {
border: 0 !important;
color:#707070 !important;
background-color: transparent !important;
}

.font-icon-size {
font-size: 17px;
}

.t-a-r {
text-align: right;
}

.card-design {
/* style={{borderRadius:'0.9rem', boxShadow:'1px 2px 5px 1px #eeeeee'}}  */
  border-radius: 10px !important ;
  box-shadow: 1px 2px 5px 1px #eeeeee;
}

.course-widget-font {
font-size: 20px !important;
border-radius: 10px !important;
background-color: transparent !important;
}

.course-subtitle {
font-size: 16px !important;
}

.list-group-item-o:first-child {
border-top-left-radius: 0px !important; 
border-top-right-radius: 0px !important;
}

.row-course-bg {
  background-color: white !important;
  border: 0px !important;
}

.list-group-item-o:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-bottom: 18px !important;
}

.content-pane {
  background-color: white !important;
  border-radius: 10px;
  padding:10px; 
}

/* Kent */
.class-card{
  border-radius: 0.9rem !important;
  box-shadow: 1px 2px 5px 1px #eeeeee;
  margin-bottom: 30px;
  margin-right: 35px;
  margin-left: 35px;
}
.class-card a{
  text-decoration: none!important;
}
.kb-0px{
  border:0px !important;
}
.class-header-card{
  background-color: #EE9337!important;
  height: 125px;
  border-radius: 10px 10px 0px 0px!important;
  box-shadow:1px 2px 5px 1px #eeeeee ;
}

.class-card-font-color{
  color: #eeeeee!important;
}

.pd-10px{
  padding-top: 10px!important;
}
.ta-pt-10px{
  text-align: right;
  padding-top: 10px;
}
.fa-position{
  float: right;
}
.card-title{
  color: #7D7D7D!important;
}
.card-subtitle{
  color: #BCBCBC;
}
.card-text{
  color: #EE9337;
}
.card-main-container{
  padding-left: 16px!important;
  padding-right: 20px!important;
}
.card-container{
  display: flex!important;
  width: 100%!important;
  flex-wrap: wrap!important;
  
}
.class-header-text {
  padding-top: 10px!important;
  padding-bottom: 5px!important;
  
}
.class-header-text a{
  text-decoration: none !important;
  color: #eeeeee;
}
.class-header-text a:hover{
  color: #eeeeee;
}
.containerClasses {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  padding-top: 15px;
  margin-top: 25px;
}
.bg-btn{
  color: #eeeeee!important;
}
.class-modal-header{
  box-shadow: 0px 3px 6px #00000029;
}
.right-btn{
  text-align: right;
}
.cursor-pointer{
  cursor: pointer!important;
}

.icon-pd{
  text-align: right;
  padding-top: 26px;
}

.card-group-tfi {
  margin-right: 25px;
  margin-left: 25px;
}

.justify-content-center {
  justify-content: center;
}

.card-group2{
  justify-content: center;
}
.class-subtitle-code{
  font-size: 16px!important;
  color: #EE9337!important;
}
.class-subtitle-section{
  font-size: 20px!important;
  color: #707070 !important;
}
.class-subtitle-subject{
  font-size: 16px!important;
  color: #EE9337!important;
}
.class-subtitle-name{
  font-size: 16px!important;
  color: #BCBCBC!important;
}
.ellipsis-top-right{
  text-align: right;
  color: #EE9337;
}
.fa-user-top-right{
  text-align: right;
  color: #EE9337; 
}
.fa-user-size{
  margin-top: 45px;
  font-size: 16px;
}
.calendar{
  border-radius: 0.9rem !important;
  box-shadow: 1px 2px 5px 1px #eeeeee;
}
.calendar-header{
  background-color: #FFFFFF!important;
  height: 125px;
  border-radius: 15px 15px 0px 0px;
  box-shadow:1px 2px 5px 1px #eeeeee;
}
.calendar-title{
  color: #707070!important;
  background-color: #FFFFFF!important;
  font-size: 24px;
}
.calendar-subtitle{
  color: #707070!important;
  background-color: #FFFFFF!important;
  font-size: 24px;
  padding-top: 25px;
}
.feed-button{
  outline: none!important;
  color:#BCBCBC !important;
  font-size: 64px!important;
}
.calendar-card{
  border-radius: 15px 15px 15px 15px!important;
  font-size: 21px;
  margin-bottom: 35px;
}
.post-date{
  font-size: 27px;
  color: #707070;
}

.post-card{
  border-radius: 15px 15px 15px 15px!important;
  box-shadow:1px 2px 5px 1px #707070;
  margin-bottom: 10px;
}

.main-container{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.auth-container{
  width: 100%;
  padding: 86px 20px
}

.login-container{
  background-color: white;
  max-width: 1186px;
  padding: 50px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

.login-container .title{
  text-align: left;
  font: normal normal normal 36px/48px Segoe UI;
  letter-spacing: 0px;
  color: #707070
}

.login-container .subtitle{
  color: #BCBCBC;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  font-size: 20px;
  margin-top: 0 !important;
}

.color-blue-green{
  color: #1BBEAE
}

.custom-label{
  color: #707070;
  font-size: 24px;
  margin-bottom: 20px !important;
}

.custom-input{
  border: 1px solid #E9E9E9 !important
}

.custom-input::placeholder{
  color: #BCBCBC !important
}




.link-orange{
  text-decoration: none;
  color: #EE9337;
  font: normal normal normal 24px/32px Segoe UI;
  letter-spacing: 0px;
}

.link-orange:hover{
  color: #EE9337;
  opacity: 0.8
}

.font-24{
  font-size: 24px
}

.btn-auth{
  background-color: #EE9337 !important;
  border-color: #ff8103 !important;
  font-size: 36px !important;
}

.login-with-qr-container{
  padding-top: 10px;
  text-align: center;
}

.login-with-qr-container .qr-container{
  width: 218px;
  height: 218px;
  display: inline-block;
  border: 1px solid #BCBCBC;
  border-radius: 10px;

}

.login-with-qr-container .qr-container img{
  width: 100%
}
.login-with-qr-container .qr-text{
  color: #707070;
  text-decoration: none;
  font: normal normal normal 24px/32px Segoe UI;
  letter-spacing: 0px;
}

.main-container .content{
  height: calc(100vh - 104px) !important;
  overflow: auto !important;
}

.header .floating-options{
  position: absolute;
  top: 18px;
  right: 18px;
}

.header .floating-options a{
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: #F9F9F9;
  color: #BCBCBC;
  font-size: 30px;
  margin-right: 12px;
  
}

.header .floating-options a div{
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .header .floating-options{
    transform: scale(0.7);
    right: -18px;
  }
}



.course-unit-header {
  text-align: left !important;
  font: normal normal normal 24px/32px Segoe UI !important;
  letter-spacing: 0px !important;
  color: #EE9337 !important;
  opacity: 1 !important;
}


.accordion-button {
  text-align: left !important;
  font: normal normal normal 24px/32px Segoe UI !important;
  letter-spacing: 0px !important;
  color: #707070 !important;
  opacity: 1  !important;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-5{
  margin-right: 5px;
}

.align-right-content {
  text-align: right;
}

.lesson-header {
  text-align: left !important;
  font: normal normal normal 24px/32px Segoe UI !important;
  letter-spacing: 0px !important;
  color: #EE9337 !important;
  opacity: 1 !important;
}

.color-white {
  color:white !important;
}
.title-exam{
  color:#EE9337;
  font-size: 24px;
}
.code-exam{
  color: #707070;
  font-size: 20px;
}
.instruction-exam{
  color: #707070;
  font-size: 20px;
}
.icon-exam{
  color: #EE9337;
  font-size: 25px;
  text-align: right;
}